/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
    .nav-item .active {
        text-align: center;
        padding: 0.25rem;
        background-color: aquamarine;
        -webkit-box-shadow: 2px 1px 1px aquamarine;
        box-shadow:  2px 1px 1px aquamarine;
    }

    .active {
        border-radius: 5px;
        padding: 0.25rem;
    }

    .navbar-light .navbar-nav{
        background: transparent;
    }
}


/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

 .navbar-light .navbar-toggler{
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        padding: 10px 10px;
        border-radius: 0px;
    }
    
    .navbar-nav .nav-item {
        text-align: center;
        background: azure;
        padding: 0.25rem 0;
        }
    }

   .navbar-light .navbar-toggler-icon-bar{
       background: #fff;
       height: auto;
    }
}

/* Small Devices Potrait */
@media (max-width : 767px){

    .navbar-light .navbar-toggler{
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        padding: 10px 10px;
        border-radius: 0px;
    }
    
    .navbar-light .navbar-nav{
        background: #fff;
    }
    
   .navbar-light .navbar-toggler-icon-bar{
       background: #fff;
       height: auto;
    }	
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width:767px){

    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        padding: 10px 10px;
        border-radius: 0px;
    }

    .navbar-nav .nav-item {
        text-align: center;
        background: azure;
        padding: 0.25rem;
        }
    }
    
   .navbar-light .navbar-toggler-icon-bar{
       background: #fff;
       height: auto;
    }
}

/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 478px)  {

    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        padding: 10px 10px;
        border-radius: 0px;
    }
    
    .navbar-nav{
        background: #000;
    }
    
    .navbar-light .navbar-nav{
        background: #fff;
    }
    
   .navbar-light .navbar-toggler-icon-bar{
        background: #fff;
       height: auto;
    }
    
/*================
     FEATURE
    =========================*/
    
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .dropdown i{
		display: none;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (min-width: 1199px) {
    .navbar-dark .navbar-nav .nav-link {
        color: #FFF;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #424242;
    }  
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-dark .navbar-nav .nav-link {
        color: #424242;
    }    
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .navbar-dark .navbar-nav .nav-link {
        color: #424242;
    }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .navbar-dark .navbar-nav .nav-link {
        color: #424242;
    }
    .nav-item .active {
        text-align: center;
        padding: 0.25rem;
        background-color: aquamarine;
    }
}
